h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.name-color{
       color:rgb(19, 88, 167);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img {
    width:100%;
}

.contact-button{
    text-decoration: none;
    font-weight: 900;
    background-image: linear-gradient(rgb(17, 20, 141), rgb(100, 64, 165));
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}
.top-banner{
 background-image: url(images/top-banner.png);
 background-repeat: no-repeat;
}